services:
  web:
    build: .
    container_name: hypostasia_web
    volumes:
      - sqlite_data:/app/db
      - static_volume:/app/staticfiles
    restart: unless-stopped
    networks:
      - frontend
    command: "poetry run celery -A TiBillet worker -l INFO -B --concurrency=6"
#    command: "sleep infinity"

  nginx:
    image: nginx:alpine
    container_name: hypostasia_nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web
    restart: unless-stopped
    labels:
      # requiered
      - "traefik.enable=true" 
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.hypostasia.tls.certresolver=myresolver"
      - "traefik.http.services.hypostasia.loadbalancer.server.port=80"
      - "traefik.http.routers.hypostasia.rule=Host(`$DOMAIN`)"
    networks:
      - frontend
      - hypostasia

networks:
  frontend:
    external: true
  hypostasia:
    internal: true

volumes:
  sqlite_data:
  static_volume:
