services:
  web:
    build: .
    container_name: hypostasia_web
    volumes:
      - sqlite_data:/app/db
      - static_volume:/app/staticfiles
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: hypostasia_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web
    restart: unless-stopped

volumes:
  sqlite_data:
  static_volume:
